# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables & local configuration
.env
.env.local
.env.*.local

# IDE and OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Tooling cache
.eslintcache
.stylelintcache
*.tsbuildinfo